/* 
    Created on : May 20, 2018, 11:22:08 PM
    Author     : Elroy
*/

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
   
	padding-top: 55px;
	padding-left: 105px;
    
 
}
.card-img-top{
width:50%;
}
	
	
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #262B30;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}